aiogram==3.11.0
pydantic==2.8.2
python-dotenv==1.0.1
pandas==1.5.3
pandas-ta==0.3.14b0
aiohttp==3.8.5
openai==0.27.2
langdetect==1.0.9
requests==2.31.0
speechrecognition==3.8.1
pydub==0.25.1
matplotlib==3.7.2
mplfinance==0.12.9b7
python-binance==1.0.19
deep-translator==1.9.2
pytrends==4.7.3
selenium==4.13.0
numpy==1.25.0
humanize==4.6.0
websockets==11.0.3
pydantic-settings==2.0.3
