aiogram>=3.11,<4.0
pydantic>=2.8,<3.0
python-dotenv>=1.0,<2.0
pandas>=1.5,<2.0
pandas-ta>=0.3.14b0,<0.4
aiohttp>=3.9.0,<3.11
openai>=0.27,<0.28
langdetect>=1.0,<2.0
requests>=2.31,<3.0
speechrecognition>=3.8,<4.0
pydub>=0.25,<0.26
matplotlib>=3.7,<4.0
mplfinance>=0.12.9b7,<0.13
python-binance>=1.0.19,<2.0
deep-translator>=1.9,<2.0
pytrends>=4.7,<5.0
selenium>=4.13,<5.0
numpy>=1.25,<2.0
humanize>=4.6,<5.0
websockets>=11.0,<12.0
pydantic-settings>=2.0,<3.0
psycopg2>=2.9,<3.0
